## 111/10/3~ ted

![](https://www.google.com/images/branding/googlelogo/2x/googlelogo_light_color_272x92dp.png)

$\sqrt2$
$\sqrt{a^2+b^2}$

In [3]:
import pandas as pd
df = pd.read_csv('ted_main.csv', encoding='utf-8')
df.head(2)

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520

In [4]:
# 單行 操作: ['行標籤名']
df['comments'] ## 這是 series, 不是 df 喔

0       4553
1        265
2        124
3        200
4        593
        ...
2545      17
2546       6
2547      10
2548      32
2549       8
Name: comments, Length: 2550, dtype: int64

In [5]:
df[['comments', 'description']]

      comments                                        description
0         4553  Sir Ken Robinson makes an entertaining and pro...
1          265  With the same humor and humanity he exuded in ...
2          124  New York Times columnist David Pogue takes aim...
3          200  In an emotionally charged talk, MacArthur-winn...
4          593  You've never seen data presented like this. Wi...
...        ...                                                ...
2545        17  Between 2008 and 2016, the United States depor...
2546         6  How can you study Mars without a spaceship? He...
2547        10  Science fiction visions of the future show us ...
2548        32  In an unmissable talk about race and politics ...
2549         8  With more than half of the world population li...

[2550 rows x 2 columns]

In [7]:
df.T.to_csv('ted_transpose.csv', encoding='utf-8')